.content{
    padding:0 12px;
    .title{
        font-size: 18px;
        padding: 12px 0;
        font-weight: 650;
    }
 
        .ant-table-thead>tr>th{
            background-color: red;
        }
}
.ant-layout-content{
    background: #fff;
}

